element.style {

}
body 
display: block;
margin: 8px;
element.style {
    background: black;
  }
  body {
  display: block;
  margin: 8px;
  
}
element.style {
    background: black;
      color: white;
  }
  body {
    color: white;
    background: black;
}
    <head>

        <link rel="stylesheet" href="styles.css">

</head>

<head>
    <link rel="stylesheet" href="styles.css">
    <title>Aluraflix</title>
</head>
<div>
<h1>sccp</h1>
<p>#corinthians </p>
</div>



    <iframe width="560" height="315" src="https://www.youtube.com/embed/W-Rvz-9Y8Jc?si=1sgIklrTsL9tIX_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body><head>
<link rel="stylesheet" href="styles.css">
</head>
    <link rel="stylesheet" href="styles.css">
    <title>Aluraflix</title>
<